#admin {
	font-family: @font-admin;

	// login page
	.container.login {
		margin-top: 25vh;
		
		.content {
			text-align: center;

			.button.login {
				margin-top: 24px;
			}
			.fas {
				padding: 12px;
				opacity: @hover-opacity;
			}
		}
	}

	// admin portal
	.container {
		width: 60vw;
		min-width: 320px;
		margin: auto;
		padding-top: 48px;

		.logout {
			position: fixed;
			top: 0;
			right: 0;
			margin: 24px 36px;
			color: @red;
			opacity: @hover-opacity;
			.transition-duration(@transition-time);
			&:hover {
				opacity: 1;
				.transition-duration(@transition-time);
			}
		}

		td {
			padding: 8px;
			&.target a {
				text-decoration: underline;
			}
		}

		input, button {
			outline: none;
			border: none;
			max-width: 240px;
			padding: 12px 24px;
			display: inline-block;
			background: @grey;
			border-radius: 4px;
			margin: 8px;
			font-family: @font-admin;
			font-size: @font-size-body;
		}

		input.keyword {
			width: 160px;
		}
		input.target {
			width: 400px;
		}

		.button:hover {
			cursor: pointer;
		}

		.button.create, .button.login {
			background: @color1;
			color: white;
			font-family: @font-title;
			font-weight: @font-weight-bold;
			text-transform: uppercase;
		}

		.button.delete {
			font-size: 12px;
			padding: 12px 16px;
			opacity: @hover-opacity;
			.transition-duration(@transition-time);
			&:hover {
				opacity: 1;
				.transition-duration(@transition-time);
			}
		}

		.block {
			overflow: hidden;
			margin-right: 24px;
			margin-bottom: 24px;
			.title {
				opacity: @hover-opacity;
			}
			&.go-links {
				> form {
					margin: 18px 0;
				}
			}
		}
	}
}