#error {
	font-family: @font-error;

	.container {
		display: flex;
		height: 100vh;

		.content {
			margin: auto;
			text-align: center;

			.title {
				color: @red;
				font-size: 96px;
			}
			p {
				margin: 24px;
				opacity: @hover-opacity;
			}
			h1, h3 {
				margin: 0;
			}
		}
	}
}