html, body {
  width: 100%;
  height: 100%;
  font-family: @font-body;
  font-size: @font-size-body;
  // text-transform: lowercase;
  color: @font-color-body;
  background-color: @background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-title;
  font-weight: bold;
}
h1 {
  font-size: 3em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.flashes {
  list-style-type: none;
  padding-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  
  .flash {
    max-width: 320px;
    margin: 12px auto;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    &.success {
      background: @flash-success-color;
      color: darken(@flash-success-color, 30%);
      border: 1px solid darken(@flash-success-color, 15%);
    }
    &.error {
      background: @flash-error-color;
      color: darken(@flash-error-color, 30%);
      border: 1px solid darken(@flash-error-color, 15%);
    }
    &.message {
      background: @flash-message-color;
      color: darken(@flash-message-color, 30%);
      border: 1px solid darken(@flash-message-color, 15%);
    }
  }
  &.hidden {
    visibility: hidden; 
    opacity: 0;
    height: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
  }
}

footer {
  text-align: center;
  background: darken(@background-color, 5%);
  color: fade(@font-color-body, 50%);
  padding: 24px;
  font-size: 80%;
  p {
    margin: 4px auto;
  }
}