// styles variables
@navbar-height: 72px;
@social-icon-width: 24px;
@stats-icon-width: 24px;

.navbar {
  width: 100%;
  height: @navbar-height;

  .container {
    float: right;
    height: 100%;
    padding: 0 36px;

    ul {
      display: inline-block;
    }
    li {
      display: inline-block;
      height: calc(@navbar-height - 48px);
      line-height: calc(@navbar-height - 48px);
      margin: 24px 12px;
      opacity: 0.5 * @hover-opacity;
      transition-duration: @transition-time;

      &:hover {
        opacity: @hover-opacity;
        transition-duration: @transition-time;
      }
      &.selected {
        font-weight: bold;
        opacity: 1;
        border-bottom: 3px solid @font-color-body;
      }
    }
  }
}

.header {
  padding: 60px 0;
  margin-bottom: 36px;
  text-align: center;

  .title {
    max-width: 600px;
    display: inline-block;
    text-transform: lowercase;
  }
}

#home .projects, #classes, #about {
  animation: fade-in 300ms ease-in;
}

#home .projects {
  width: 60%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: row wrap;

  .project {
    width: 380px;
    align-self: flex-end;
    flex-basis: auto;
    box-sizing: inherit;
    margin-bottom: 72px;
    padding: 0 36px;

    .thumbnail {
      width: 100%;
      opacity: 1;
    }
    .info {
      height: 180px;
      margin-top: 18px;

      .title {
        font-size: 1.25em;
        margin: 8px 0;

        &:hover {
          text-decoration: underline;
        }
      }
      .tags {
        margin-top: 18px;

        .tag {
          opacity: 0.5;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  }
}

#classes {
  .content {
    width: 500px;
    margin: auto;
    padding: 0 24px;

    h1 {
      margin: 80px auto;
    }
    .label {
      color: @color1;
      margin-bottom: 0.5em;
      font-weight: bold;
      text-transform: lowercase;
    }
    .description {
      opacity: @hover-opacity;
      font-size: 80%;
    }
    a {
      text-decoration: underline;
    }
    .semester {
      margin-bottom: 48px;

      &.fall .label {
        color: @color1;
      }
      &.spring .label {
        color: @color2;
      }
      &.winter .label {
        color: @color3;
      }
      &.summer .label {
        color: @color4;
      }
    }
  }
}

#about {
  .content {
    width: 60%;
    margin: auto;
    text-transform: none;

    .stats {
      width: 100%;
      margin: 12px 0;
      text-transform: lowercase;

      .cluster {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        > div {
          display: inline-block;
          vertical-align: middle;
        }
        p {
          margin: 4px auto;
        }
      }
      a:hover {
        text-decoration: underline;
      }
      .icon {
        width: @stats-icon-width;
        margin-right: 4px;
      }
      .volume {
        width: @stats-icon-width;
        margin-right: 4px;
        list-style-type: none;
        padding: 0;
        display: inline-block;

        .bar {
          width: 16px;
          height: 2px;
          margin: 2px 0;
          animation: volume 500ms linear infinite alternate;
        }
        .bar:nth-child(1){
          background: @color1;
          animation-delay: 0.3s;
        }
        .bar:nth-child(2){
          background: @color2;
          animation-duration: 0.7s;
        }
        .bar:nth-child(3){
          background: @color3;
          animation-delay: 0.8s;
        }
        .bar:nth-child(4){
          background: @color4;
          animation-delay: 0.4s;
        }
        .bar:nth-child(5){
          background: @color5;
          animation-duration: 0.6s;
        }
      }
    }
    .profile-pic {
      width: 50%;
      max-width: 400px;
      float: left;
      margin: 24px;
      display: inline-block;
    }
  }
}

@keyframes volume {
  0% { width: 16px; }
  100% { width: 8px; }
}

@media screen and (max-width: @tablet-width) {
  #projects .content {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: @mobile-width) {
  #projects .content, #classes .content {
    width: calc(100% - 48px);
  }
}