// fonts
@font-body:				halyard-text, sans-serif;
@font-title:			halyard-text, sans-serif;
@font-admin:			halyard-text, sans-serif;
@font-error:			halyard-text, sans-serif;

@font-weight-light: 	300;
@font-weight-book: 		400;
@font-weight-bold:		700;

@font-size-body:		16px;
@font-size-project:		18px;
@font-size-blockquote:	24px;
@font-size-subtitle: 	20px;
@font-size-title:		34px;

// colors
@red:					#f07178;
@grey:					#f4f4f4;
@color1:				#9f9aa4;
@color2:				#e7cecd;
@color3:				#ced8d7;
@color4:				#b5c9c3;
@color5:				#cab1bd;

// transitions
@hover-opacity:			0.6;
@transition-time:		150ms;

// flash messages
@flash-success-color:	#d7efe3;
@flash-error-color:		#f2dbd9;
@flash-message-color:	#e3f1ff;

// sidebar
@sidebar-min-width:		315px;
@nav-border-width:		3px;

// projects
@project-width:			380px;
@project-height:		240px;

// photos
@photo-width:			420px;
@photo-height:			280px;

// social
@social-icon-width:		30px;

// stats
@stats-icon-width:		24px;

// mobile
@tablet-width:			1200px;
@mobile-width:			650px;