// fonts
@font-body:       		'DM Sans', sans-serif;
@font-title:      		'DM Sans', sans-serif;
@font-size-body:    	16px;

// colors
@font-color-body:		#252525;
@background-color:		white;
@red:         			#A40E4C;
@grey:          		#f4f4f4;
@color1:        		#AACB80;
@color2:        		#FF8393;
@color3:        		#CF8DA6;
@color4:        		#FEBA4C;
@color5:        		#332804;

// transitions
@hover-opacity:     	0.75;
@transition-time:   	150ms;

// flash messages
@flash-success-color: 	#d7efe3;
@flash-error-color:   	#f2dbd9;
@flash-message-color: 	#e3f1ff;

// mobile
@tablet-width:      	1300px;
@mobile-width:      	750px;