@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: freight-text-pro, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.flashes {
  list-style-type: none;
  padding-left: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.flashes .flash {
  max-width: 320px;
  margin: 12px auto;
  border-radius: 4px;
  padding: 16px 24px;
  text-align: center;
}
.flashes .flash.success {
  background: #d7efe3;
  color: #7ccba3;
}
.flashes .flash.error {
  background: #f2dbd9;
  color: #d2817a;
}
.flashes .flash.message {
  background: #e3f1ff;
  color: #63b1ff;
}
.flashes.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s 500ms, opacity 500ms linear;
}
footer {
  text-align: center;
  background: #f8f8f8;
  color: rgba(121, 121, 121, 0.75);
  padding: 24px;
  font-size: 14.4px;
}
footer p {
  margin: 4px auto;
}
footer p:nth-child(2) {
  opacity: 0.6;
}
#main .sidebar {
  position: fixed;
  width: 30%;
  min-width: 350px;
}
#main .sidebar > .content {
  position: absolute;
  right: 0;
  max-width: 350px;
  margin-top: 40%;
  padding: 16px;
  text-align: left;
}
#main .sidebar > .content .title {
  margin: 0;
  text-transform: uppercase;
}
#main .sidebar > .content .social {
  display: inline-block;
  margin: 12px 0;
  opacity: 1;
  color: inherit;
  position: relative;
  -webkit-transition-duration: 450ms;
  transition-duration: 450ms;
}
#main .sidebar > .content .social li {
  width: 30px;
  display: inline-block;
  padding-left: 30px;
  text-align: center;
}
#main .sidebar > .content .social a {
  opacity: 0.6;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#main .sidebar > .content .social:hover {
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#main .sidebar > .content .social:hover a {
  opacity: 0.3;
}
#main .sidebar > .content .social:hover a:hover {
  opacity: 1;
}
#main .sidebar > .content .stats {
  font-size: 80%;
  margin: 12px 0;
}
#main .sidebar > .content .stats .cluster {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
#main .sidebar > .content .stats .cluster:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 90%, white);
  pointer-events: none;
}
#main .sidebar > .content .stats .cluster > div {
  display: inline-block;
  vertical-align: middle;
}
#main .sidebar > .content .stats .cluster p {
  margin: 4px auto;
}
#main .sidebar > .content .stats a:hover {
  text-decoration: underline;
}
#main .sidebar > .content .stats .icon {
  width: 24px;
  margin-right: 4px;
}
#main .sidebar > .content .stats .volume {
  width: 24px;
  margin-right: 4px;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
#main .sidebar > .content .stats .volume .bar {
  width: 16px;
  height: 2px;
  margin: 2px 0;
  animation: volume 500ms linear infinite alternate;
}
#main .sidebar > .content .stats .volume .bar:nth-child(1) {
  background: #ff5b71;
  animation-delay: 0.3s;
}
#main .sidebar > .content .stats .volume .bar:nth-child(2) {
  background: #f5c747;
  animation-duration: 0.7s;
}
#main .sidebar > .content .stats .volume .bar:nth-child(3) {
  background: #00cecb;
  animation-delay: 0.8s;
}
#main .sidebar > .content .stats .volume .bar:nth-child(4) {
  background: #b7f6ff;
  animation-delay: 0.4s;
}
#main .sidebar > .content .stats .volume .bar:nth-child(5) {
  background: #b9a0ef;
  animation-duration: 0.6s;
}
#main .sidebar > .content .nav {
  margin: 24px 0;
  border-right: 4px solid #f8f8f8;
  text-align: right;
  display: inline-block;
  float: right;
}
#main .sidebar > .content .nav.one {
  border-right: 4px solid rgba(255, 91, 113, 0.25);
}
#main .sidebar > .content .nav.two {
  border-right: 4px solid rgba(245, 199, 71, 0.25);
}
#main .sidebar > .content .nav.three {
  border-right: 4px solid rgba(0, 206, 203, 0.25);
}
#main .sidebar > .content .nav li {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 16px;
  opacity: 0.25;
}
#main .sidebar > .content .nav li.selected {
  opacity: 1;
}
#main .sidebar > .content .nav a:nth-child(1) .selected {
  color: #ff5b71;
}
#main .sidebar > .content .nav a:nth-child(2) .selected {
  color: #f5c747;
}
#main .sidebar > .content .nav a:nth-child(3) .selected {
  color: #00cecb;
}
#main .sidebar > .content .nav a:nth-child(4) .selected {
  color: #b7f6ff;
}
#main .sidebar > .content .nav a:nth-child(5) .selected {
  color: #b9a0ef;
}
#projects,
#classes,
#photos {
  overflow-x: hidden;
  margin-left: 30%;
  padding-left: 32px;
  animation: fade-in 300ms ease-in;
}
#projects .project {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 2px 2px 2px;
}
#projects .project .arrow {
  position: absolute;
  right: 48px;
  top: 16px;
  color: white;
  font-size: 36px;
  opacity: 0;
  -webkit-transition-duration: 450ms;
  transition-duration: 450ms;
}
#projects .project .thumbnail {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
#projects .project .info {
  width: calc(100% - 32px);
  position: absolute;
  bottom: 16px;
  padding: 16px;
  color: white;
}
#projects .project .info .title,
#projects .project .info .subtitle {
  margin: 0;
}
#projects .project .info .title {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  -webkit-transition-duration: 450ms;
  transition-duration: 450ms;
}
#projects .project .info .subtitle {
  position: absolute;
  top: 100%;
  opacity: 0;
  -webkit-transition-duration: 450ms;
  transition-duration: 450ms;
}
#projects .project:hover .arrow {
  right: 16px;
  opacity: 0.75;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#projects .project:hover .info .title {
  bottom: 150%;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#projects .project:hover .info .subtitle {
  top: -50%;
  opacity: 1;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#classes {
  overflow-x: hidden;
}
#classes .label {
  text-transform: uppercase;
  color: #f5c747;
}
#classes .description {
  opacity: 0.6;
  font-size: 80%;
}
#classes a {
  text-decoration: underline;
}
#classes .semester {
  margin-bottom: 48px;
}
#classes .semester.fall .label {
  color: #ff5b71;
}
#classes .semester.spring .label {
  color: #00cecb;
}
#classes .semester.winter .label {
  color: #b8b8b8;
}
#photos .more-photos h4 {
  margin-top: 12px;
  margin-bottom: 48px;
  text-transform: uppercase;
  opacity: 0.3;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
#photos .more-photos h4:hover {
  opacity: 0.6;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#photos .more-photos .icon {
  margin-left: 4px;
}
#photos .photo {
  width: 420px;
  height: 280px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 2px 2px 2px;
}
#photos .photo .thumbnail {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
#photos .photo .info {
  width: calc(100% - 32px);
  position: absolute;
  bottom: 16px;
  padding: 16px;
  color: white;
}
#photos .photo .info .location {
  position: absolute;
  bottom: -50%;
  margin: 0;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition-duration: 450ms;
  transition-duration: 450ms;
}
#photos .photo .info .location .icon {
  margin-right: 4px;
}
#photos .photo:hover .info .location {
  bottom: 0;
  opacity: 1;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
@keyframes volume {
  0% {
    width: 16px;
  }
  100% {
    width: 8px;
  }
}
@media screen and (max-width: 1079px) {
  #main > .container {
    width: 90vw;
    margin: auto;
    padding-top: 2vh;
  }
  #main .sidebar {
    position: static;
    width: 100%;
  }
  #main .sidebar .content {
    width: auto;
    max-width: 100%;
    text-align: left;
    position: static;
    margin: 0;
    padding: 0;
  }
  #main .sidebar .content .social li {
    padding-left: 0;
    padding-right: 30px;
  }
  #main .sidebar .content .nav {
    display: block;
    float: none;
    border-right: none !important;
    border-bottom: 4px solid #f8f8f8;
    text-align: left;
    margin: 12px 0;
  }
  #main .sidebar .content .nav li {
    display: inline-block;
    padding-left: 0;
  }
  #main .sidebar .content .nav.one {
    border-bottom: 4px solid rgba(255, 91, 113, 0.25);
  }
  #main .sidebar .content .nav.two {
    border-bottom: 4px solid rgba(245, 199, 71, 0.25);
  }
  #main .sidebar .content .nav.three {
    border-bottom: 4px solid rgba(0, 206, 203, 0.25);
  }
  #projects,
  #classes,
  #photos {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #projects .project {
    width: calc(33% - 8px);
  }
  #projects .project .info {
    padding: 12px;
  }
  #photos .photo {
    width: calc(50% - 8px);
  }
  #photos .photo .info {
    padding: 12px;
  }
}
@media screen and (max-width: 650px) {
  #projects .project,
  #photos .photo {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 8px;
  }
  #projects .project {
    height: 225px;
  }
}
#project-writeup {
  margin: 0 60px;
  font-size: 22px;
  animation: fade-in 600ms ease-in;
}
#project-writeup .cover {
  width: 80%;
  margin: 48px auto;
  animation: slide-in-from-top 600ms ease-out;
}
#project-writeup .cover .cover-headline {
  display: inline-block;
  vertical-align: middle;
  padding: 64px;
  padding-left: 0;
  width: calc(50% - 64px - 30px);
}
#project-writeup .cover .cover-headline .container {
  max-width: 564px;
  float: right;
}
#project-writeup .cover .cover-headline .label {
  text-transform: uppercase;
  margin: 0;
}
#project-writeup .cover .cover-headline .title {
  text-transform: uppercase;
  margin: 12px 0;
  margin-left: -1px;
  font-size: 46px;
}
#project-writeup .cover .cover-headline .description {
  margin: 0;
  font-size: 24px;
  color: #797979;
}
#project-writeup .cover .cover-image {
  display: inline-block;
  vertical-align: middle;
  width: calc(50% - 30px);
}
#project-writeup .cover .cover-image img {
  width: 100%;
}
#project-writeup .cover .cover-image .caption {
  margin: 4px 0;
  font-size: 80%;
  color: #797979;
}
#project-writeup .content {
  max-width: 760px;
  margin: auto;
  margin-bottom: 60px;
  animation: counter-slide 600ms ease-out;
}
#project-writeup .content blockquote {
  font-size: 28px;
  color: #797979;
  margin-top: 48px;
  margin-bottom: 48px;
}
#project-writeup .content p {
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
}
#project-writeup .content h1,
#project-writeup .content h2,
#project-writeup .content h3,
#project-writeup .content h4,
#project-writeup .content h5,
#project-writeup .content h6 {
  margin-block-start: 1.25em;
}
#project-writeup .content img {
  text-align: center;
}
#project-writeup .content ul {
  list-style-type: disc;
  padding-left: 40px;
}
#project-writeup .content code {
  font-family: 'Source Code Pro', monospace;
  background-color: #f8f8f8;
  font-size: 19.8px;
  padding: 4px 8px;
  border-radius: 3px;
}
#project-writeup .links {
  margin: 60px auto;
  text-align: center;
}
#project-writeup .links a {
  display: inline-block;
}
#project-writeup .links li {
  width: 24px;
  height: 24px;
  background-color: #ebebeb;
  color: #797979;
  padding: 16px;
  margin-right: 8px;
  border-radius: 50% 50%;
  position: relative;
  display: flex;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
#project-writeup .links li:hover {
  background-color: #f8f8f8;
  color: white;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#project-writeup .links i {
  font-size: 18px;
  margin: auto;
}
#project-writeup .cover .links {
  margin-top: 24px;
  margin-bottom: 0;
  text-align: left;
}
.back {
  font-size: 18px;
  font-family: futura-pt, sans-serif;
  opacity: 0.3;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.back:hover {
  opacity: 0.6;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
.back .icon {
  margin-right: 4px;
}
.back.top {
  position: absolute;
  top: 24px;
  left: 36px;
}
.back.bottom {
  text-align: center;
  margin: 60px auto;
}
@keyframes slide-in-from-top {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 48px;
  }
}
@keyframes counter-slide {
  0% {
    margin-top: 48px;
  }
  100% {
    margin-top: 0;
  }
}
@media screen and (max-width: 1079px) {
  .back {
    top: 20px;
    left: 24px;
  }
  #project-writeup {
    margin: 0 24px;
  }
  #project-writeup .cover {
    width: 100%;
  }
  #project-writeup .cover .cover-headline,
  #project-writeup .cover .cover-image {
    width: 100%;
    display: block;
  }
  #project-writeup .cover .cover-headline {
    padding: 12px 0;
  }
  #project-writeup .cover .cover-headline .container {
    max-width: 100%;
    float: none;
  }
}
#admin {
  font-family: futura-pt, sans-serif;
}
#admin .container.login {
  margin-top: 25vh;
}
#admin .container.login .content {
  text-align: center;
}
#admin .container.login .content .button.login {
  margin-top: 24px;
}
#admin .container.login .content .fas {
  padding: 12px;
  opacity: 0.6;
}
#admin .container {
  width: 60vw;
  min-width: 320px;
  margin: auto;
  padding-top: 48px;
}
#admin .container .logout {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px 36px;
  color: #f07178;
  opacity: 0.6;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#admin .container .logout:hover {
  opacity: 1;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#admin .container td {
  padding: 8px;
}
#admin .container td.target a {
  text-decoration: underline;
}
#admin .container input,
#admin .container button {
  outline: none;
  border: none;
  padding: 12px 24px;
  background: #f8f8f8;
  border-radius: 4px;
  margin: 12px 8px;
  font-family: futura-pt, sans-serif;
  font-size: 18px;
}
#admin .container input.keyword {
  width: 160px;
}
#admin .container input.target {
  width: 400px;
}
#admin .container .button:hover {
  cursor: pointer;
}
#admin .container .button.submit,
#admin .container .button.login {
  background-color: transparent;
  color: #ff5b71;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 24px;
  border: 4px solid #ff5b71;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#admin .container .button.submit:hover,
#admin .container .button.login:hover {
  background-color: #ff5b71;
  color: white;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#admin .container .button.delete {
  font-size: 12px;
  padding: 12px 16px;
  opacity: 0.6;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#admin .container .button.delete:hover {
  opacity: 1;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
#admin .container .block {
  overflow: hidden;
  margin-bottom: 60px;
}
#admin .container .block .title {
  opacity: 0.6;
}
#admin .container .block.go-links > form {
  margin: 18px 0;
}
#admin .container .block.stats .stat {
  width: calc(50% - 40px);
  display: inline-block;
  vertical-align: top;
  margin: 18px;
}
#admin .container .block.stats .stat .name {
  text-transform: uppercase;
}
#admin .container .block.stats .stat .icon {
  width: auto;
  margin-right: 4px;
}
#admin .container .block.stats .stat input {
  width: calc(100% - 48px);
  display: block;
}
#admin .container .block.stats .stat .button {
  width: 100%;
}
#error {
  font-family: futura-pt, sans-serif;
}
#error .container {
  display: flex;
  height: 100vh;
}
#error .container .content {
  margin: auto;
  text-align: center;
}
#error .container .content .title {
  color: #f07178;
  font-size: 96px;
}
#error .container .content p {
  margin: 24px;
  opacity: 0.6;
}
#error .container .content h1,
#error .container .content h3 {
  margin: 0;
}
