{% extends "base.html" %}

{% block title %}
    admin portal
{% endblock %}

{% block content %}
<div id="admin">
    <div class="container">
        <h1 class="title">admin portal</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form name="create" method="post" action="/go/create">
            <input type="text" placeholder="keyword" name="keyword" class="keyword" required>
            <input type="text" placeholder="target" name="target" class="target" required>
            <input type="submit" class="button create" value="create link">
        </form>

        <table>
            {% for link in links %}
                <tr>
                  <td>
                    <form name="delete" method="post" title="delete this link" action="/go/delete">
                        <input type="hidden" value="{{ link._id }}" name="link_id" />
                      <button type="submit" class="button delete">
                         <i class='fa fa-trash' aria-hidden='true'></i>
                      </button>
                    </form>
                  </td>
                  <td>{{ link.keyword }}</td>
                  <td><a href="{{ link.target }}">{{ link.target }}</a></td>
                </tr>
            {% else %}
                <p>No links are currently in the database.</p>
            {% endfor %}
        </table>
    </div>
 </div>
{% endblock %}