{% extends "index.html" %}

{% block title %}
	Classes |
	{{ super() }}
{% endblock %}

{% block main_content %}
<div id="classes">
	<div class="container">

		<div class="semester spring">
			<h3 class="label"><i class="fab fa-pagelines"></i> Spring 2019 <span class="description">tentative</span></h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.115" class="class-number" target="_blank">6.115</a> Microcomputer Project Laboratory 🎛</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.809" class="class-number" target="_blank">6.809/21M.385</a> Interactive Music Systems 🎸</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.041A" class="class-number" target="_blank">6.041A</a> Introduction to Probability I 🎲</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=21M.608" class="class-number" target="_blank">21M.608</a> Beginning Screenwriting 🎬</li>
			</ul>
		</div>

		<div class="semester fall">
			<h3 class="label"><i class="fas fa-leaf"></i> Fall 2018</h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.034" class="class-number" target="_blank">6.034</a> Artificial Intelligence 🤖</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=21M.387" class="class-number" target="_blank">21M.387</a> Fundamentals of Music Processing 🎧</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=21M.624" class="class-number" target="_blank">21M.624</a> Acting with the Camera 🎥</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=MAS.834" class="class-number" target="_blank">MAS.834</a> Tangible Interfaces 🤲</li>
			</ul>
		</div>

		<div class="semester summer">
			<h3 class="label"><i class="fas fa-sun"></i> Summer 2018</h3>
			<p>Internship at <a href="//disneyanimation.com/">Walt Disney Animation Studios</a> 🖌</p>
		</div>

		<div class="semester spring">
			<h3 class="label"><i class="fab fa-pagelines"></i> Spring 2018</h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.002" class="class-number" target="_blank">6.002</a> Circuits and Electronics 🔌</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.003" class="class-number" target="_blank">6.003</a> Signal Processing 📶</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=9.00" class="class-number" target="_blank">9.00</a> Introduction to Psychological Science 🧠</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=21M.301" class="class-number" target="_blank">21M.301</a> Harmony and Counterpoint I 🎼</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.08" class="class-number" target="_blank">6.08</a> Interconnected Embedded Systems 📱<span class="description">(lab assistant)</span></li>
			</ul>
		</div>

		<div class="semester winter">
			<h3 class="label"><i class="far fa-snowflake"></i> Winter 2018</h3>
			<p>Externship at <a href="http://5witsproductions.com/"  target="_blank">5 Wits Productions</a> 🗿</p>
		</div>

		<div class="semester fall">
			<h3 class="label"><i class="fas fa-leaf"></i> Fall 2017</h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.004" class="class-number" target="_blank">6.004</a> Computation Structures 🥞</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=7.012" class="class-number" target="_blank">7.012</a> Introduction to Biology 🐛</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=18.03" class="class-number" target="_blank">18.03</a> Differential Equations 🔠</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=CMS.100" class="class-number" target="_blank">CMS.100</a> Introduction to Media Studies 🎞</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=4.031" class="class-number" target="_blank">4.031</a> Design Studio: Objects and Interaction 🛋</li>
			</ul>
		</div>

		<div class="semester summer">
			<h3 class="label"><i class="fas fa-sun"></i> Summer 2017</h3>
			<p><a href="http://uaap.mit.edu/research-exploration/urop" target="_blank">UROP</a> with the MIT Media Lab's <a href="//opera.media.mit.edu/" target="_blank">Opera of the Future</a> group 🎹</p>
		</div>

		<div class="semester spring">
			<h3 class="label"><i class="fab fa-pagelines"></i> Spring 2017</h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.08" class="class-number" target="_blank">6.S08</a> Interconnected Embedded Systems 📱</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.006" class="class-number" target="_blank">6.006</a> Introduction to Algorithms 🔍</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=2.00B" class="class-number" target="_blank">2.00B</a> Toy Product Design 🤹‍♀️</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=8.02" class="class-number" target="_blank">8.02</a> Electricity &amp; Magnetism ⚡️</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=24.03" class="class-number" target="_blank">24.03</a> Ethics and Politics of Food 🌾</li>
			</ul>
		</div>

		<div class="semester winter">
			<h3 class="label"><i class="far fa-snowflake"></i> Winter 2017</h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.148" class="class-number" target="_blank">6.148</a> Web Programming Competition 🌐</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.s096" class="class-number" target="_blank">6.S096</a> Mobile Virtual Reality Development 👓</li>
			</ul>
		</div>

		<div class="semester fall">
			<h3 class="label"><i class="fas fa-leaf"></i> Fall 2016</h3>
			<ul>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=3.091" class="class-number" target="_blank">3.091</a> Solid-State Chemistry ⚗️</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=6.902" class="class-number" target="_blank">6.A59</a> Engineering, Innovation &amp; Design 💡</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=8.01" class="class-number" target="_blank">8.01</a> Mechanics ⚙️</li>
				<li><a href="http://student.mit.edu/catalog/search.cgi?search=18.02" class="class-number" target="_blank">18.02</a> Multivariable Calculus 🔢</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}