{% extends "base.html" %}

{% block title %}
  {% if title is defined %}
    {{ title }}
  {% else %}
    error
  {% endif %}
{% endblock %}

{% block content %}
<div id="error">
  <div class="container">
    <h1 class="title">
      {% if title is defined %}
        {{ title }}
      {% else %}
        error
      {% endif %}
    </h1>
    {% if message is defined %}
    <h2>
      {{ message }}
    </h2>
    {% endif %}
    <a href="javascript:history.back()">
      <p class="description"><i class="far fa-arrow-alt-circle-left"></i> go back</ps>
    </a>
  </div>
 </div>
{% endblock %}