{% extends "base.html" %}

{% block title %}
    Shannon Peng
{% endblock %}

{% block content %}
<div id="main">
	<div class="container">
		<div class="sidebar">
			<div class="content">
				<a href="/"><h1 class="title">SHANNON PENG</h1></a>
				<p>I'm a junior at MIT studying electrical engineering &amp; computer science and media arts. I'm interested in developing technologies that reimagine how we create and experience stories, music, and art.</p>
				<ul class="social">
			        <li><a href="mailto:pengs@mit.edu" target="_blank"><i class="far fa-envelope"></i></a></li>
			        <li><a href="//github.com/shannonpeng" target="_blank"><i class="fab fa-github-alt"></i></a></li>
			        <li><a href="//linkedin.com/in/shannonspeng" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
			        <li><a href="//open.spotify.com/user/shannon.penguin" target="_blank"><i class="fab fa-spotify"></i></a>
			        <li><a href="//instagram.com/shannonpenguin" target="_blank"><i class="fab fa-instagram"></i></a></li>
			    </ul>
			    <ul class="nav">
			    	<a href="/"><li {% if page=="projects" %}class="selected"{% endif %}>projects</li></a>
			    	<a href="/classes"><li {% if page=="classes" %}class="selected"{% endif %}>classes</li></a>
			    	<a href="/photos"><li {% if page=="photos" %}class="selected"{% endif %}>photos</li></a>
			    </ul>
			</div>
		</div>
		{% block main_content %}
		<div id="projects">
			{% for project in projects %}
			<div class="project" style="animation-delay:{{ range(0, 2000) | random }}ms;">
				<a href="{{ url_for('project', name=project.keyword) }}">
					<div class="thumbnail" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0)), url('{{ project.thumbnail }}')"></div>
					<div class="info">
						<h2 class="title">{{ project.title }}</h2>
						<p class="subtitle"><i>{{ project.subtitle }}</i></p>
					</div>
				</a>
			</div>
			{% else %}
			<p>No projects to be found, just this guilty dinosaur. 🦖</p>
			{% endfor %}
		</div>
		{% endblock %}
	</div>
</div>
{% endblock %}