{% extends "base.html" %}

{% block title %}
  shannon peng
{% endblock %}

{% block content %}
<div id="home">
{% block navbar %}
<div class="navbar">
  <div class="container">
    <ul class="nav">
      <a href="/"><li {% if page=="projects" %}class="selected"{% endif %}>projects</li></a>
      <a href="/about"><li {% if page=="about" %}class="selected"{% endif %}>about</li></a>
      <a href="/classes"><li {% if page=="classes" %}class="selected"{% endif %}>classes</li></a>
      <a href="/design"><li {% if page=="design" %}class="selected"{% endif %}>design</li></a>
    </ul>
    <ul class="social">
      <li><a href="mailto:shannonspeng@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
      <li><a href="//linkedin.com/in/shannonspeng" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block page_content %}
<div class="header">
  <h1 class="title">Shannon Peng</h1>
</div>
<div class="projects">
  {% for project in projects %}
  <div class="project{% for c in project.categories %} category-{{ c }}{% endfor %} {% if project.featured %}featured{% endif %}">
    <a href="{{ url_for('project', name=project.keyword) }}">
      <img class="thumbnail" src="{{ project.thumbnail }}" />
    </a>
    <div class="info">
      <a href="{{ url_for('project', name=project.keyword) }}"><h3 class="title">{% if project.emoji %}{{ project.emoji }} {% endif %}{{ project.title }}</h3></a>
      <p class="subtitle">{{ project.subtitle }}</p>
      <div class="tags">
        {% for tag in project.tags %}
        <div class="tag"># {{ tag }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  <p>no projects to be found, just this guilty dinosaur. 🦖</p>
  {% endfor %}
</div>
{% endblock %}
</div>
{% endblock %}